extends layout
block vars
  - var title = 'Summoner'
block body
  .column.row
    .summoners
      .small-12.medium-6.columns#team1
        .summoner1
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/785.png", width="50")
          | ToWek
        .summoner2
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/784.png", width="50")
          | Dat boi
        .summoner3
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/783.png", width="50")
          | Lemao
        .summoner4
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/782.png", width="50")
          | xxhoehunter98xx 
        .summoner5
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/781.png", width="50")
          | Funny nick xdxdxdxd  
      .small-12.medium-6.columns#team2
        .summoner6
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/780.png", width="50")
          | ComeatmeBr0
        .summoner7
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/779.png", width="50")
          | saywh44444444444t
        .summoner8
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/1.png", width="50")
          | best master yi galaxy
        .summoner9
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/2.png", width="50")
          | 2nd best adc eune
        .summoner10
          img.profile-icon(src="http://ddragon.leagueoflegends.com/cdn/6.12.1/img/profileicon/3.png", width="50")
          | very good player  

  script.
    var region = !{JSON.stringify(region)},
        id = !{JSON.stringify(id)};
  script(src='/js/summoner.js')