body {
  position: relative;
}

.search, h3 {
 display: flex;
 justify-content: center;
 align-items: center;
}

.content {
  margin-top: 60px;
}

.profile-icon {
  margin: 10px 10px;
}